[class*="col-"]{
    background-color: #006cfa;
    border: 1px solid white;
}

.nest{
    padding: 8px;
}

[class*="col-"] [class*="col-"]{
    background-color: #00e165;
    border: 1px solid #006cfa;
}



